*[shadown] {
  box-shadow: 0px 0px 16px 0px rgba(96, 98, 102, 0.08);
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.di-flex {
  display: inline-flex;
}

.di-block {
  display: inline-block;
}